
.navbar .navbar-brand
{
	color: rgba(255, 255, 255, .85);
	font-size: 1rem;
	padding-top: .45rem; 
}

.jumbotron {
	background: url('../img/wp.jpg');
	background-size: cover;
	color:white;
}


.nav-link{
	transition: .2s;
}

.btn, .active{
	transition: .2s;
}

*{
	transition: .2s;
}

.body{
	bgcolor: blue;
}

.container{
	background-color: #0080ff;
}